<h1>List of all quizzes</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Topic</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @list_of_quizzes.each do |a_quiz| %>
    <tr>
      <td><%= a_quiz.id %></td>
      <td><%= a_quiz.topic %></td>
      <td><%= time_ago_in_words(a_quiz.created_at) %> ago</td>
      <td>
        <a href="/quizzes/<%= a_quiz.id %>">Show details</a>
      </td>
    </tr>
  <% end %>

</table>
